body {
  background-color: #eee;
}

#silverlightDlrConsole, 
#silverlightDlrConsoleCode, 
#silverlightDlrConsoleResult, 
.silverlightDlrConsolePrompt {
  font-family: Consolas, "Andale Mono", courier, fixed, monospace;
  font-size: 16px;
}

#silverlightDlrConsoleCode, 
#silverlightDlrConsoleResult, 
.silverlightDlrConsolePrompt {
  border: 0px;
  line-height: 20px;
  background-color: #eee;
  color: black;
}

#silverlightDlrConsole {
  padding: 5px;
  background-color: #eee;
  overflow: auto;
  /*position: absolute;
  top: 10px; left: 10px; right: 10px; bottom: 10px; */
}

.silverlightDlrConsolePrompt {
  color: red;
  float: left;
  display: block;
}

#silverlightDlrConsoleCode {
  width: 90%;
  height: 20px;
  position: relative;
  left: -1px; top: 0px;
}

#silverlightDlrConsoleRun {
  display: none;
}
form#silverlightDlrConsoleRunForm {
  color: black;
  padding-bottom: 15px;
}
