[submodule "test/runner/lib/mocha"]
	path = test/runner/lib/mocha
	url = git@github.com:jschementi/mocha.git
[submodule "test/runner/lib/bacon"]
	path = test/runner/lib/bacon
	url = git@github.com:jschementi/bacon.git

