#silverlightDlrConsole, 
#silverlightDlrConsoleCode, 
#silverlightDlrConsoleResult, 
.silverlightDlrConsolePrompt {
  font-family: Consolas, "Courier New", monospace;
  font-size: 16px;
}

#silverlightDlrConsoleCode, 
#silverlightDlrConsoleResult, 
.silverlightDlrConsolePrompt {
  border: 0px;
  line-height: 20px;
  background-color: black;
  color: #eee;
}

#silverlightDlrConsole {
  padding: 15px;
  background-color: black;
  height: 250px;
  overflow: auto;
  border: 10px solid #444;
}

.silverlightDlrConsolePrompt {
  color: yellow;
  float: left;
  display: block;
}

#silverlightDlrConsoleCode {
  width: 90%;
  height: 20px;
  position: relative;
  left: -1px; top: 0px;
}

#silverlightDlrConsoleRun {
  display: none;
}
form#silverlightDlrConsoleRunForm {
  color: white;
}